@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body  {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

main {
  display: flex;
}

#aside {
  width: 20vw;
  background-color: #171717;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 5px 5px 10px #111;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

#aside header {
  padding-bottom: 5px;
  text-align: center;
  color: #eee;
  width: 100%;
  margin-bottom: 20px;
  font-size: 20px;
}

#aside header > p {
  font-size: 18px;
  opacity: 0.8;
}

#aside > p {
  font-size: 18px;
  color: #eee;
  border-top: 1px solid #eee;
  width: 100%;
  text-align: center;
  padding: 25px 0 15px 0;
}

#aside #controls {
  display: flex;
  gap: 10px;
}

#aside button,
#aside input {
  border: none;
  font-size: 30px;
  cursor: pointer;
  background-color: #285783;
  border-radius: 50%;
  padding: 10px;
  height: 50px;
  width: 50px;
  transition: all .375s;
}

#aside button:hover,
#aside input:hover {
  scale: 1.05;
  box-shadow: 5px 5px 10px #111;
}

#grid {
  display: grid;
  grid-gap: 0;
  margin-left: 10vw;
  width: 560px;
  height: 560px;
  border: 10px solid #285783;
  box-shadow: 5px 5px 10px #111;
}

#grid div {
  border: 1px solid #f1f1f1;
  background-color: #fff;
  cursor: crosshair;
}

#new {
  color: #f1f1f1;
}

#eraser {
  color: #ff2222;
}

#clear {
  background-color: #ff2222 !important;
  color: #f1f1f1;
}
